/* input[type="range"][orient="vert"] {
  appearance: none;
  transform: rotate(0DEG);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 160px;
  border: solid #AFABAB;
  border-radius: 5px;
}

input[type="range"][orient="horizontal"]{
  appearance: none;
  border: solid  #AFABAB;
  border-radius: 5px;
} */

input[type="text"] {
  cursor: default;
}

input[type="color"] {
  cursor: default;
  height: 6vh;
}
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.swatch {
  width: 5vh;
  height: 5vh;
  border: solid 1px black;
}

.label {
 width: 3vw;
}

.main-display {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-rows: 65vh 10vh 15vh;
  grid-template-columns:auto;
  padding: 5px;
  border: solid 1px gray;
}


.start-btn {
  height: 10vh;
  width: 100%;
  font-size: 3vh;
}

.start {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-toggle-btn {
  height: 15vh;
  width: 25%;
  font-size: 3vh;
}


.entry {
  font-size: 3vh;
}

.entry-btn {
  height: 3vh;
  width: 25%;
  font-size: 2vh;
}

.entry-header {
  display: flex;
  justify-content: space-between;
}

.entry-name {
  width: 50%
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3vh;
  height: 5vh;
  border: solid 1px black;
}

.category-name {
  width: 50%;
  padding-left: 10px;
}

.category-remove {
  width: 15%
}

.category-btn {
  height: 5vh;
  width: 100%;
  font-size: 2vh;
}

.category-create {
  font-size: 2vh;
}

.category-create-input {
  height: 5vh;
  width: 50%;
  margin: 0;
  padding-left: 10px;
  font-size: 4vh;
}

.category-create-row {
  display: flex;
  padding-top: 2vh;
}